body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/*flexBox*/
.d-flex {
    display: flex;
}

.f-row {
    flex-flow: row;
}

.f-col {
    flex-flow: column;
}

.f-j-center {
    justify-content: center;
}

.f-a-center {
    align-items: center;
}

.f-j-around {
    justify-content: space-around;
}

.f-j-between {
    justify-content: space-between;
}

.f-j-flex-end {
    justify-content: flex-end;
}



.f-j-flex-start {
    justify-content: flex-start;
}

.f-a-flex-start {
    align-items: flex-start;
}

.f-a-flex-end {
    align-items: flex-end;
}

.f-grow-1 {
    flex-grow: 1;
}

.f-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

/*textAlignCenter*/

.t-a-center {
    text-align: center;
}


.active {
    border: 1px solid red !important;
}
/*backgroundColor*/

.bg-main {
    background-color: #0b2328;
}

.bg-green {
    background-color: #1eb562;
}

.bg-red {
    background-color: #be2525;
}

.bg-grey {
    background-color: #989898;
}

.bg-black {
    background-color: #020202;
}

/*spinner*/

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader-smooth {
    color: #359992 !important;
}

.loader-black {
    color: #020202 !important;
}

.loader-red {
    color: #be2525 !important;
}

.loader-green {
    color: #1eb562 !important;
}

.loader {
    color: #b16868;
    font-size: 6px;
    /*margin: 80px auto;*/
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*progress*/

.progress {
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.2);
}

.progress-smooth .progress-bar {
    background-color: #359992;
    width: 75%;
    height: 100%;
}

.progress-basic .progress-bar {
    background-color: #be2525;
    height: 100%;
    width: 50%;
}

/*pagination*/

.pagination {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
}

.pagination-item a {
    text-decoration: none;
    text-underline: none;
    color: #359992;
    font-size: 12px;
    font-weight: 200;
    border-radius: 4px;

}

.pagination-item {
    border: 1px solid #359992;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #0b2328;
    margin: 0 1px;
}

/*input*/

.input {
    padding: 10px 8px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
}

.input-red {
    border: 1px solid #b88383;
    outline-color: #be2525;
    background-color: rgba(0,0,0,0.1);
}

.input-green {
    border: 1px solid #6fb0a8;
    outline-color: #1eb562;
    background-color: rgba(0,0,0,0.1);
}

.input-black {
    color: #ffffff;
    background-color: #020202;
    border: 1px solid #020202;
}

.input-smooth {
    color: #359992;
    border: 1px solid #359992;
    background-color: #0b2328;
    outline-color: #359992;
}

/*navbar*/

.navbar-smooth .navbar-links-box a {
    color: #359992;
}

.navbar-smooth .navbar-links-box a:hover {
    color: #6fb0a8;
}

.navbar-smooth {
    -webkit-box-shadow: 0px 0px 10px 4px #359992 !important;
    box-shadow: 0px 0px 10px -1px #359992 !important;
}

.navbar {
    height: 60px;
    box-sizing: border-box;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 0px 10px -2px #000000;
    box-shadow: 0px 0px 10px -2px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links-box a {
    text-decoration: none;
    text-underline: none;
    margin: 0 10px;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-links-box a:hover {
    color: rgba(0,0,0,1);
}

.navbar-logo {
    text-transform: uppercase;
    font-weight: 600;
}

/*cards*/

.card {
    width: 300px;
    height: auto;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

.card-basic {
    -webkit-box-shadow: 0px 0px 10px -2px #000000;
    box-shadow: 0px 0px 10px -2px #000000;
}

.card-smooth {
    border: 1px solid #359992;
    background-color: #091a19;
    color: #359992;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.card-content {
    text-align: center;
}


/*listGroup*/

ul {
    list-style-type: none;
}

.list-group {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.list-group-item {
    text-decoration: none;
    margin-bottom: 2px;
    padding: 5px 20px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 12px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #020202;
    color: white;
    border: 1px solid #020202;
}

/*buttons*/

.btn {
    text-align: center;
    padding: 8px 40px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
}

.btn-red {
    border: none;
    color: #ffffff;
    background-color: #be2525;
}

.btn-red:hover {
    background-color: #921b1b;
}

.btn-green {
    border: none;
    color: #ffffff;
    background-color: #159d54;
}

.btn-green:hover {
    background-color: #0c582d;
}

.btn-black {
    border: none;
    color: #ffffff;
    background-color: #020202;
}

.btn-black:hover {
    background-color: #181818;
}

.btn-smooth {
    background-color: #091a19;
    border: 1px solid #359992;
    color: #359992;
}

.btn-smooth:hover {
    background-color: #000000;
}

.btn-no-bg {
    background-color: unset;
    border: 1px solid #020202;
    color: #020202;
}

.btn-no-bg:hover {
    background-color: rgba(0,0,0,0.2);
}


/*alerts*/
.alert-red {
    border: 1px solid #be2525;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #be2525;
    background-color: #b88383;
    border-radius: 8px;
    font-size: 14px;
}

.alert-green {
    border: 1px solid #159d54;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #159d54;
    background-color: #8dcdab;
    border-radius: 8px;
    font-size: 14px;
}

.alert-blue {
    border: 1px solid #359992;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #359992;
    background-color: #8bcac2;
    border-radius: 8px;
    font-size: 14px;
}

/*opacity*/

.opacity-05 {
    opacity: 0.5;
}

.opacity-02 {
    opacity: 0.2;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-1 {
    opacity: 1;
}

/*textColor*/

.text-white {
    color: #ffffff;
}

.text-main {
    color: #359992;
}

.text-green{
    color: #1eb562;
}

.text-red {
    color: #be2525;
}

.text-w-400 {
    font-weight: 400;
}

.text-w-200 {
    font-weight: 200;
}

.text-w-100 {
    font-weight: 100;
}

.text-w-500 {
    font-weight: 500;
}

.text-font-12 {
    font-size: 12px;
}

.text-font-14 {
    font-size: 14px;
}

.text-font-16 {
    font-size: 16px;
}

.text-font-18 {
    font-size: 18px;
}

/*borders*/

/*mainBorder*/

.border {
    border: 1px solid #359992;
}

.border-green {
    border: 1px solid #1eb562;
}

.border-red {
    border: 1px solid #be2525;
}

.border-white {
    border: 1px solid #ffffff;
}

/*cursor*/

.pointer {
    cursor: pointer;
}

/*margins*/

.m-2 {
    margin: 2px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

/*marginTop*/

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

/*marginsBottom*/

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/*marginsRight*/

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

/*marginsLeft*/

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}



/*paddings*/
.p-20 {
    padding: 20px;
}

.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}

/*paddingTop*/

.pt-20 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}

/*paddingBottom*/

.pb-20 {
    padding-bottom: 20px;
}

.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}

/*paddingRight*/

.pr-20 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}

/*paddingLeft*/

.pl-20 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}


.item {
    width: 100%;
}

/*positions*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/*widthSizes*/
.w-20 {
    width: 18%;
}

.w-50 {
    width: 48%;
}

.w-30 {
    width: 28%;
}

.w-100 {
    width: 100%;
}

/*height*/

.h-20 {
    height: 18%;
}

.h-50 {
    height: 48%;
}

.h-30 {
    height: 28%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.pointer {
    cursor: pointer;
}

/*boxSizing*/

.b-box {
    box-sizing: border-box;
}