body {
    overflow: hidden;
}
.container {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-flow: column;
    -webkit-box-shadow: 0 0 4px 1px rgba(255,255,255,0.2);
    box-shadow: 0 0 4px 1px rgba(255,255,255,0.2);
}

.overflow-scroll {
    overflow-y: scroll;
    max-height: 500px;
}

.overflow-scroll::-webkit-scrollbar-track
{
    border-radius: 8px;
    background-color: rgba(0,0,0,0.2);
}

.overflow-scroll::-webkit-scrollbar
{
    width: 6px;
}

.search-icon {
    top: 8px;
    left: 3px;
    position: absolute;
    font-size: 12px;
    color: rgba(255,255,255,0.2);
}

.search-input:focus + .search-icon {
    display: none;
}

.text-search {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.search-input {
    text-align: unset !important;
}


.tools-menu {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
}

.btn-filter {
    background: none;
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.2);
    margin-left: 20px;
}

.btn-filter:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

/*.search-box {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    border: 1px solid red;*/
/*}*/

.overflow-scroll::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background-color: rgba(255,255,255,0.2);
}

.title {
    font-weight: 200;
    font-size: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0 26px;
}

.subTitle {
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
}

.subContainer {
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.date {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 9px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.time {
    font-weight: 200;
}

input {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: unset;
    outline: none;
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
}

.subContainer ::placeholder {
    font-weight: 200;
    font-size: 14px;
    color: rgba(255,255,255,0.2);
}

.active-checkmark {
    color: #1eb562 !important;
}

.inactive-checkmark {
    color: rgba(255,255,255,0.2) !important;
}

button {
    background: none;
    color: #ffffff;
    border: 1px solid rgba(255,255,255,0.2);
}

button:hover {
    border: 1px solid rgba(255,255,255,0.5);
}

.animate-err-message-fade-in {
    bottom: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #ff0000;
    border: 1px solid rgba(190, 37, 37, 0.35);
    border-radius: 8px;
}

.animate-err-message-fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#app {
    z-index: 1;
    height: 100vh;
}

@keyframes fade-out {
    from {
        margin-bottom: 100px;
        opacity: 1
    }
    to {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        margin-bottom: 100px;
        opacity: 1;
    }
}

.todo {
    box-sizing: border-box;
    height: 60px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
}

.todo i {
    color: rgba(255,255,255,0.2);
}

.todo i:hover {
    color: rgba(255,255,255,1);
}

.todos-list .todo:not(:last-child) {
    margin-bottom: 10px;
}

.default-message {
    font-weight: 200;
    text-transform: uppercase;
}

.modal-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    /*background: rgba(28, 28, 28,0.85);*/
}

.modal-title {
    font-size: 16px;
    font-weight: 200;
}

.modal-input {
    box-sizing: border-box;
}

.modal {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    background-color: rgb(28,28,28);
    border-radius: 8px;
    padding: 25px 50px;
    box-shadow: 0 0 4px 1px rgba(255,255,255,0.2);
}

.modal-current-todo {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-flow: column;
}
